@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import 'tailwindcss';

@theme {
  --font-sans: 'Inter', sans-serif;
  --color-corporate: #003366;
  --color-corporate-dark: #002244;
}

html,
body,
#root {
  height: 100%;
}
